<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--
        This disables zooming on mobile. Replace with the following to enable it again.
        <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% endif %}
    </title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- import jQuery -->
    <script
        src="//code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <!-- import bootstrap -->
    <link
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- import dataTables -->
    <link
        href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"
        rel="stylesheet">
    <script
        src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- enable dataTables -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.data-table').DataTable({
                paging: false,
                info: false,
            });
        });
    </script>

    <!-- empty favicon -->
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon">

</head>

<body>

    <!-- HEADER -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- collapsed -->
            <div class="navbar-header">
                <span class="navbar-brand">Data Linkage Repository</span>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dlrepl-navbar-expanded" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- expanded -->
            <div class="collapse navbar-collapse" id="dlrep-navbar-expanded">
                <ul class="nav navbar-nav">
                    {% assign sorted_pages = (site.custom | where: 'layout', 'custom' | sort: 'order') %}
                    {% for p in sorted_pages %}
                        {% if page.title == p.title %}
                            <li class="active">
                                <a href="{{ p.url | prepend: site.baseurl }}">
                                    {{ p.title }}
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ p.url | prepend: site.baseurl }}">
                                    {{ p.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="pull-right">
                        <!--
                            prose.io is a service which may be better than GitHub's editor for this task.
                            We need to look into it some more before switching to it though.
                            Here what the link should look like.
                            <a href="http://prose.io/#dlrep/dlrep/edit/master/{{ page.path }}">
                        -->
                        <a href="https://github.com/dlrep/dlrep/edit/master/{{ page.path }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            Edit this page
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        {{ content }}
    </div>

    <br><br><hr>
    <center>
        <a href="https://creativecommons.org/licenses/by/4.0">
            <img src="https://img.shields.io/badge/license-CC%20BY%204.0-brightgreen.svg"
                 alt="License CC BY 4.0">
        </a>
    </center>
    <br>

</body>

</html>
